<div class="content">
  <div class="border">
      <h1 class="header">Calculator</h1><br>
          <div class="entry">
               <label class="num"><b>First Number</b></label><br>
               <input (input)="getInput1(num1Input.value)" class="text" name="num2" #num1Input/><br><br>
               <label class="num"><b>Second Number</b></label><br>
               <input (input)="getInput2(num2Input.value)" class="text" name="num2" #num2Input/><br><br>
          </div>
          <div class="operators">
                  <button (click)="toAdd()" type="button" class="btn"><b>+</b></button>
                  <button (click)="toSubtract()" type="button" class="btn"><b>-</b></button>
                  <button (click)="toMultiply()" type="button" class="btn"><b>*</b></button>
                  <button (click)="toDivide()" type="button" class="btn"><b>/</b></button>
          </div>
          <br><hr size="3px" color="black"><br>
          <div>
              <input type="text" [value]="result" class="result" />
          </div>
    </div>
</div>